/* INDEX */
:root{/** Criando Variaveis de cor*/
    --color-white:#fff;
    --color-dark1: #272727;
    --color-white2: #fff;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-dark6: #030303;
    --color-green1: #4e6423;
    --color-purple: #b040ff;
}
*{/** Aplicando efeitos em todos os elementos*/
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-100deg, #F2F9F1,#DDEEDF,#8BC34A,#86a74b );
    color:var(--color-white);
    background-repeat: no-repeat;
    background-size: 100vw 200vh;
}
.img_logo_header{
    width: 130px;
}
.header, .navigation_header{
    display: flex;
    flex-direction:row;/* mudando a direção dos items do cabeçalho*/
    align-items: center;/* centralizando a logo com o menu de navegação*/
}
.header{
    background-color: var(--color-white2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;/** ajustando o menu de navegação 0 representa top/bottom e 10% representa rigth/left*/
}
.navigation_header{
    gap: 3em;/* adicionando espaçamento entre os itens*/
    z-index: 2;/* colocando na camada 2 */
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}
.active{
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.content{
    text-align: center;
    padding-top: 1em;
    height: 60.34vh;
    transition: 0.5s;
}
.btn_icon_header{
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-dark6);
    cursor: pointer;
}
@keyframes showSidebar{
    from{margin-left: -100vw;}
    top{margin-left: -10vw}
}
/*index*/
.content .quadro{
    height: 70.5vh;
    width: 96.9vw;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
}
.content .quadro .slide img{
    height: 100%;
    width: 100%;
}
.content .navigation{
    position:absolute ;
    margin-left: 45%;
    margin-top: 1%;
    display: flex;
}
.content .bar{
    min-width: 1.5vw;
    min-height: 1.5vw;
    border: 2px solid black;
    margin: 0.5vw;
    border-radius: 2vw;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}
.content .bar:hover{
    background-color: grey;
}
.content input{
   display: none;
}
.content .slides{
    display: flex;
    width: 400%;
    height: 100%;
}
.content .slide{
    width: 25%;
    transition: .6s;
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -25%;
}
#slide3:checked ~ .s1{
    margin-left: -50%;
}
#slide4:checked ~ .s1{
    margin-left: -75%;
}
.content .clientes{
    height: 40vh;
    width: 97vw;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 8%;
    margin-left: 1%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.content .clientes a {
    color:#030303;
    text-decoration: none ;
    font-size: 20px;
}
.content .clientes h1{
    font-size: 20px;
}
.content .clientes img{
    height: 17vh;
    margin-top: 3.9vw;
}
.content .cidades img:hover{
    height: 19vh;
    transition: 0.5s;
    overflow: hidden;
}
.content .tituloimg{
    margin-top: 7%;
    left: 4%;
    position:absolute ;  
}
.content .tituloimg img{
    width: 15vw;
    border-radius: 2px;
}
/*Adaptando para resoluçoes menores que 960px*/
 @media screen and (max-width: 955px), (max-height: 500px){
    body{
        background: linear-gradient(-100deg, #F2F9F1,#DDEEDF,#8BC34A,#86a74b );
        background-size: 100vw 300vh;
    }
    /* CABEÇALHO */
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position:absolute;
        flex-direction: column;
        top:0;
        background-color: var(--color-green1);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 0.5s;
        margin-left: -100vw;
    }
    /* index*/
    .content .clientes {
        margin-top: 17.9%;
        width: 96vw;
        height: 38vw;
    }
    .content .tituloimg{
        margin-top:15%;
    }
    .content .tituloimg img{
        width: 25vw;
    }
    .content .clientes h1{
       font-size: 14px;
    }
    .content .clientes img{
        width: 15vw;
        height: 17vw;
        margin-top: 8vw;
    }
    .content .clientes img:hover{
        width: 15vw;
        height: 17vw;
    }
    .content .quadro{
        margin-top: 1%;
        width: 96vw;
        height: 55vw;   
    }
    .content .bar{
        min-width: 2.5vw;
        min-height: 2.5vw;
    }
    .content .navigation{
        margin-top: 7%;
        margin-left: 40%;
    }
    /* Rodape */
    .content .inicio{/*Footer pagina inicial*/
       max-height: 160px;
    }
    .content  .footer_servicos{/*Footer pagina inicial*/
        max-height: 140px;
    }
    .content footer .footer_h1{
    font-size: 100%;
    }
    .content footer .boxs .footer_ul li{
        font-size: 80%;
    }
    .content footer .boxs .footer_ul li .material-icons{
        font-size: 140%;
    }
    .content footer .boxs{
        width: 100%;    
        text-align:center;
    }
    /*Serviços*/
    .content .servicos{
        min-height: 816vw;
        max-width: 95vw;
    }
    .content .servicos .min_img{
        min-width: 38.8vw;
        height: 10px;
        margin-top: 80%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .content .servicos .min_img .miniatura img{
        height: 90%;
        width: 220%;
        margin-left: 7%;
        margin-top: 1%;
    }
    .content .text_servi h1{
        font-size: 150%;
        margin-left: 3%;
    }
    .content .text_servi{
        right: 8%;
        margin-top: 10%;
        width: 87vw;
        height: 60vw;
    }
    .content .text_servi ul{
        margin-top: 20%;
    }
    .content .text_servi ul li{
      font-size: 380%;
    }
    .content .popup-image img {
        width: 90%;
    }
    /*contato*/ 
    .content .contato{
        height: 110.4vmax;
    }
    .content .contato .contatenos{
        height: 10.5vmax;
    }
    .content .contato .contatenos .text_cont{
        font-size: 180%;
    }
    .content .contato .email{
        margin-top: 63vmax;
        font-size: 120%;
        margin-left: -3%;
    }
    .content .contato .telefone{
        margin-top: 85vmax;
        font-size: 120%;
        margin-left: -3%;
    }
    .content .contato .mapa{
       margin-top: 10.5vmax;
       width: 96vw;
       height: 40vh;
       border-width: 5px;
    }
    .content .contato .email .material-icons{
        font-size: 10vw;
        margin-left: 1%;
    }
    .content .contato .telefone .material-icons{
        font-size: 10vw;
        margin-left: 1%;
    }
    /*sobre*/
    .content .sobre{
        height: 110.4vmax;
    }
    .content .sobre .sobre-nos{
        height: 10.5vmax;
    }
    .content .sobre .sobre-nos .text_sobre{
        font-size: 180%;
    }
    .content .sobre .quem-somos{
        margin-top: 20vmax;
        margin-left: -1vmax;
    }
    .content .sobre .o-que-fazemos{
        margin-top: 60vmax;
        margin-left: -1vmax;
    }
    .content .sobre .quem-somos .p1{
        width: 40vmax;
    }
    .content .sobre .o-que-fazemos .p2{
        width: 40vmax;
    }
}
/*Rodapé*/
.inicio{
    width: 100%;
    margin-top: 191px;
    height: 190px;
    background: #4e6423; 
}
.footer_servicos{
    width: 100%;
    margin-top: 198.5px;
    height: 190px;
    background: #4e6423; 
}
.footer_contato{
    width: 100%;
    margin-top: 80px;
    height: 190px;
    background: #4e6423; 
}
.footer_sobre{
    width: 100%;
    margin-top: 80px;
    height: 190px;
    background: #4e6423; 
}
footer .footer_ul {
    margin-top: 1vw;
}
footer h1{
    font-size: 1.5vw;
}
footer .boxs{
    text-align: center;
}
footer .boxs:nth-child(4){
    width: 400px;
}
footer .boxs ul li .material-icons{
    font-size: 25px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
footer .boxs ul li{
    margin:  10px 0px;
    list-style: none; 
}
footer .boxs ul li a{
    color: #ddd;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
footer .boxs ul li a:hover{
    color: #fff;
}
footer .boxs p{
    color: #fff;
    text-align: center ;
}
/* SERIVÇOS */
.servicos{
    min-height: 40.4vw;
    width: 96vw;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2vw;
    margin-left: 1.5vw;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.min_img{
    width: 37.8vw;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-right:53vw;
    margin-top: 1vw;
    cursor: pointer;
}
.miniatura img{
    width: 12vw;
    border-radius: 7px;
    margin-top: 5% ;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
    margin-left: 0.6vw;
}
.popup-image{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,.9);
    height: 120%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup-image span{
    position: absolute;
    top: 0; 
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.popup-image img{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50% );
    border: 5px solid #fff;
    border-radius: 5px;
    width: 950px;
    object-fit: cover;
}
.text_servi h1{
    margin-top: 2%;
    font-size: 1.5vw;
    margin-left:1vw;
    color: #fff;
    width: 90%;
    position: absolute;
   
}
.text_servi{
    margin-top: 4%;
    background: var(--color-green1);
    border-radius:5px;
    width: 30vw;
    height: 35vw;
    margin-left:55% ;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    position: absolute;
}
.text_servi ul{
    
    margin-top: 15%;
    text-align: left;
    font-size: 1.3vw;
    margin-left:5vw;
    color: #fff;
}
/*contato*/
.contato{
    min-height: 50.4vh;
    width: 95vw;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 1.5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.contato .contatenos{
    border-radius: 20px 20px 0px 0px;
    background-color: var(--color-green1);
    position: absolute;
    width: 95vw;
    height: 12.6vw;
}
.contato .contatenos .text_cont{
    color: #fff;
    margin-top: 6%;
    font-size: 40px;
}
.contato .email .material-icons{
    font-size: 5vw;
    color: gray;
}
.contato .telefone .material-icons{
    font-size: 5vw;
    color: gray;
}
.contato .email{
    position: absolute;
    margin-top: 25%;
    margin-left: -65%;
}
.contato .telefone{
    position: absolute;
    margin-top: 25%;
    margin-left: 65%;
}
.contato .mapa{
    border-radius:5px;
    border-width: 8px;
    border-color: var(--color-green1);
    margin-top: 13.2%;
    width: 39vw;
    height: 60vh;
}
/*sobre*/
.sobre{
    min-height: 90.4vh;
    width: 95vw;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 1.5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.sobre .sobre-nos{
    border-radius: 20px 20px 0px 0px;
    background-color: var(--color-green1);
    position: absolute;
    width: 95vw;
    height: 12.6vw;
}
.sobre .sobre-nos .text_sobre{
    color: #fff;
    margin-top: 6%;
    font-size: 250%;
}
.sobre .quem-somos{
    font-size: 100%;
    position: absolute;
    margin-top: 22%;
    margin-left: -50%;
}
.sobre .o-que-fazemos{
    font-size: 100%;
    position: absolute;
    margin-top: 22.5%;
    margin-left: 50%;
}
.sobre .quem-somos h2{
    margin-top:0.5%; 
    color:rgb(66, 65, 65); 
    font-size: 200%;
}
.sobre .o-que-fazemos h2{
    margin-top:0.5%; 
    color:rgb(66, 65, 65); 
    font-size: 200%;
}
.sobre .quem-somos .p1{
    width: 25vw; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top:0.7%; 
    color:rgb(66, 65, 65); 
    line-height: 22px; 
    text-align: justify;
}
.sobre .o-que-fazemos .p2{
    width: 25vw; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-top:2%; 
    color:rgb(66, 65, 65); 
    line-height: 22px; 
    text-align: justify;
}