/* INDEX */
:root{/** Criando Variaveis de cor*/
    --color-white:#fff;
    --color-dark1: #272727;
    --color-white2: #fff;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-dark6: #030303;
    --color-green1: #4e6423;
    --color-purple: #b040ff;
}
*{/** Aplicando efeitos em todos os elementos*/
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-100deg, #F2F9F1,#DDEEDF,#8BC34A,#86a74b );
    color:var(--color-white);
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
    
}
.img_logo_header{
    width: 130px;
}
.header, .navigation_header{
    display: flex;
    flex-direction:row;/* mudando a direção dos items do cabeçalho*/
    align-items: center;/* centralizando a logo com o menu de navegação*/
}
.header{
    background-color: var(--color-white2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;/** ajustando o menu de navegação 0 representa top/bottom e 10% representa rigth/left*/
}
.navigation_header{
    gap: 3em;/* adicionando espaçamento entre os itens*/
    z-index: 2;/* colocando na camada 2 */
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}
.active{
    background-color: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.content{
    text-align: center;
    padding-top: 1em;
    height: 60.34vh;
    transition: 0.5s;
}
.btn_icon_header{
    display: none;
    background-color: transparent;
    border: none;
    color: var(--color-dark6);
    cursor: pointer;
}
@keyframes showSidebar{
    from{margin-left: -100vw;}
    top{margin-left: -10vw}
}
/*SLIDES*/
.quadro{
    height: 30.4vw;
    width: 91.9vw;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 1%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
}
.quadro .slide img{
    height: 100%;
    width: 100%;
}
.navigation{
    position:absolute ;
    margin-left: 45vw;
    margin-top: 1vw;
    display: flex;
}
.bar{
    min-width: 1.5vw;
    min-height: 1.5vw;
    border: 2px solid black;
    margin: 0.5vw;
    border-radius: 2vw;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}
.bar:hover{
    background-color: grey;
}
input{
   display: none;
}
.slides{
    display: flex;
    width: 400%;
    height: 100%;
}
.slide{
    width: 25%;
    transition: .6s;
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -25%;
}
#slide3:checked ~ .s1{
    margin-left: -50%;
}
#slide4:checked ~ .s1{
    margin-left: -75%;
}
.clientes{
    min-height: 13.4vw;
    width: 95vw;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 7.5vw;
    margin-left: 1.5vw;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.clientes a {
    color:#030303;
    text-decoration: none ;
    font-size: 20px;
}
.clientes h1{
    font-size: 20px;
}
.clientes img{
    height: 9vw;
    margin-top: 1.5vw;
}
.cidades:hover img{
    height: 10vw;
    transition: 0.5s;
    overflow: hidden;
}
.tituloimg{
    width: 14vw;
    height: 3vw;
    margin-top: 6%;
    right: 82vw;
    position:absolute ;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
}
/*Adaptando para resoluçoes menores que 1500px*/
 @media screen and (max-width: 900px){
   
    body{
        background: linear-gradient(-100deg, #F2F9F1,#DDEEDF,#8BC34A,#86a74b );
        background-size: 100vw 160vw;
    }
    /* CABEÇALHO */
    .btn_icon_header{
        display: block;
    }
    .navigation_header{
        position:absolute;
        flex-direction: column;
        top:0;
        background-color: var(--color-green1);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 0.5s;
        margin-left: -100vw;
    }
    /* SLIDES */
    .clientes {
        margin-top: 20.9vw;
        height: 36vw;
    }
    .tituloimg{
        margin-top: 18.9vw;
        box-shadow: 2.5px 2.5px rgba(0,0,0,0.75);
    }
    .clientes h1{
       font-size: 10px;
    }
    .clientes img{
        width: 16vw;
        height: 16vw;
        margin-top: 8vw;
    }
    .cidades:hover img{
        height: 16vw;
    }
    .quadro{
        margin-top: 10%;
        height: 38vw;   
    }
    .navigation{
       display: none;
    }    
    /* Rodape */
    footer{
        margin-top: 30%;
        min-height: 45%;
    }
    footer h2{
    font-size: 80%;
    }
  
    footer li{
        font-size: 75%;

    }
    footer li a{
        margin-left: 3%;
    }
    footer .boxs{
        width: 100%;    
        text-align:center;
    }
    footer .boxs ul li i{
        font-size: 150%;
    }
    /*Serviços*/
    .servicos{
        height: 725vw;
        max-width: 95vw;
    }
    .servicos .min_img{
        min-width: 37.8vw;
        height: 10px;
        margin-top: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .servicos .min_img .miniatura img{
        height: 90%;
        width: 220%;
        margin-left: 7%;
        margin-top: 1%;
    }
    .content .text_servi{
        right: 8%;
        top: 10%;
        width: 87vw;
        height: 80vw;
    }
    .text_servi .titulo_text{
        font-size: 130%;
        margin-left: 5%;
    }
    .text_servi ul li{
      font-size: 480%;
    }
    .content .popup-image img {
        width: 380px;
    }
    
}
/*Rodapé*/
footer{
    width: 100%;
    height: 40%;
    background: #4e6423;
    text-align: center; 
}
footer ul {
    height: 4vw;
    margin-top: 0px;
}

footer .boxs{
    text-align: center;
    
}
footer .boxs:nth-child(4){
    width: 400px;
}
.boxs h2{
    margin-top: 10px;
    color: #fff;
}
.boxs ul li{
    margin:  10px 0px;
    list-style: none;
}
.boxs ul li a{
    color: #ddd;
    text-decoration: none;
}
.boxs ul li a:hover{
    color: #fff;
}
.boxs p{
    color: #fff;
    text-align: center ;
}
/* SERIVÇOS */
.servicos{
    min-height: 40.4vw;
    width: 96vw;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 2vw;
    margin-left: 1.5vw;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
}
.min_img{
    width: 37.8vw;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-right:53vw;
    margin-top: 1vw;
    cursor: pointer;
}
.miniatura img{
    width: 12vw;
    border-radius: 7px;
    margin-top: 5% ;
    box-shadow: 5px 5px rgba(0,0,0,0.75);
    margin-left: 0.6vw;
}
.popup-image{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup-image span{
    position: absolute;
    top: 0; 
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50% );
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
.text_servi h1{
    margin-top: 2%;
    font-size: 1.5vw;
    margin-left:1vw;
    color: #fff;
    width: 90%;
    position: absolute;
}
.text_servi{
    margin-top: 4%;
    background: var(--color-green1);
    border-radius:5px;
    width: 30vw;
    height: 35vw;
    margin-left:55% ;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    position: absolute;
}
.text_servi ul{
    margin-top: 15%;
    text-align: left;
    font-size: 1.1vw;
    margin-left:5vw;
    color: #fff;
}